In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Import Data
data_exp = pd.read_csv("A4 Set B - Combined Datasheet.csv")
data_ver = pd.read_csv("csv-export.csv")

In [3]:
print(data_exp.columns)
Elements = ["Hydrogen", "Nitrogen", "Helium", "Neon"]

Index(['Element', 'Spectral line Rank', 'theta_left', 'theta_right', 'd_theta',
       'Order', 'lambda_left', 'lambda_right'],
      dtype='object')

In [4]:
# sns.pairplot(data_ver)

## Experimental Data Analysis

In [5]:
print(data_exp.columns)

Index(['Element', 'Spectral line Rank', 'theta_left', 'theta_right', 'd_theta',
       'Order', 'lambda_left', 'lambda_right'],
      dtype='object')

In [6]:
# Calculate Uncertainty
data_exp["lambda_unc"] = np.sin(data_exp["d_theta"]*np.pi/180)*((1/100)*(1/1000))*(1000000000)
data_exp["mean_lambda"] = (data_exp["lambda_left"] + data_exp["lambda_right"])/2

In [7]:
print(data_exp["lambda_unc"])

0     130.895956
1      72.721411
2      72.721411
3      72.721411
4      72.721411
5     101.809114
6     116.352658
7      78.539009
8      43.633093
9      43.633093
10     63.994969
11     55.268478
12     46.541945
13     61.086144
14     43.633093
15    104.717841
16     95.991635
17     93.082883
18     43.633093
19     84.356580
20     87.265355
21    101.809114
22     78.539009
23     29.088780
24     49.450794
25     26.179909
26     66.903789
27     43.633093
28     43.633093
29     66.903789
30     63.994969
31     72.721411
32     58.177314
33     63.994969
34     49.450794
35     29.088780
36     43.633093
Name: lambda_unc, dtype: float64

In [8]:
# filtered_df = df[(df['element'] == 'Hydrogen') & (df['order'] == 1)]

f_exp_by_elements = {}
for E in ["Hydrogen", "Nitrogen", "Helium", "Neon"]:
    f_exp_by_elements[f"{E}"] = data_exp[(data_exp["Element"] == E) & (data_exp["Order"] == 1)]

In [9]:
print(f_exp_by_elements["Neon"])

   Element  Spectral line Rank  theta_left  theta_right   d_theta  Order  \
23    Neon                   1    2.666667     2.833333  0.166667      1
24    Neon                   2    2.833333     3.116667  0.283333      1
25    Neon                   3    3.100000     3.250000  0.150000      1
26    Neon                   4    3.216667     3.600000  0.383333      1
27    Neon                   5    3.416667     3.666667  0.250000      1
28    Neon                   6    3.583333     3.833333  0.250000      1
29    Neon                   7    3.666667     4.050000  0.383333      1

    lambda_left  lambda_right  lambda_unc  mean_lambda
23   465.253122    494.308433   29.088780   479.780778
24   494.308433    543.692732   49.450794   519.000583
25   540.788130    566.927876   26.179909   553.858003
26   561.119373    627.905195   66.903789   594.512284
27   595.967473    639.517336   43.633093   617.742404
28   625.002027    668.543865   43.633093   646.772946
29   639.517336    706.269859   66.903789   672.893598

## Vernier Data Analysis

In [10]:
# # Plotting Stuff
# def plot_spectral(x, y, element):
#     sns.set_theme(style="darkgrid")
#     plt.figure(figsize=(12, 6))

#     sns.lineplot(
#         x=x, 
#         y=y, 
#         label=f"{element} Spectrum", 
#         color="blue",
#         linewidth=2.5
#     )
#     plt.xlabel("Wavelength (nm)", fontsize=14)
#     plt.ylabel("Intensity", fontsize=14)
#     plt.title(f"{element} Spectral Line Data", fontsize=16, fontweight="bold")

#     plt.xticks(fontsize=12)
#     plt.yticks(fontsize=12)
#     plt.grid(True, linestyle="--", alpha=0.6)

#     plt.legend(fontsize=12)

#     plt.show()
    
# def remove_noise(noise_intensity, noise_wavelength, element_intensity, element_wavelength, element):

#     element_df = pd.DataFrame({'Wavelength': element_wavelength, f'{element}_Intensity': element_intensity})
#     noise_df = pd.DataFrame({'Wavelength': noise_wavelength, 'Noise_Intensity': noise_intensity})

#     merged_df = pd.merge(element_df, noise_df, on='Wavelength', how='left').fillna(0)

#     merged_df['Corrected_Intensity'] = merged_df[f'{element}_Intensity'] - merged_df['Noise_Intensity']

#     merged_df['Corrected_Intensity'] = np.maximum(merged_df['Corrected_Intensity'], 0)

#     return merged_df[['Wavelength', 'Corrected_Intensity']]

In [11]:
# # data_ver
# # Remove Absorbance
# cols_to_drop = [col for col in data_ver.columns if "Absorbance" in col]

# # Drop the columns from the DataFrame
# data_ver_cleaned = data_ver.drop(columns=cols_to_drop)
# print(data_ver_cleaned.columns)

In [12]:
# # Clean Elements
# Elements = ["Hydrogen", "Nitrogen", "Helium", "Neon"]
# cleaned_elements = {}
# for E in Elements:
#     cleaned_elements[f"{E}"] = remove_noise(data_ver_cleaned["Noise:Raw"], data_ver_cleaned["Noise:Wavelength(nm)"], data_ver_cleaned[f"{E}:Raw"], data_ver_cleaned[f"{E}:Wavelength(nm)"], E)

In [13]:
# # Plot Spectral lines
# for E in Elements:
#     plot_spectral(cleaned_elements[f"{E}"]["Wavelength"], cleaned_elements[f"{E}"]["Corrected_Intensity"], E)

In [14]:
# # Find peaks
# from scipy.signal import find_peaks
# def find_and_plot_peaks(band, wavelength, intensity, element, wl_exp, unc):
#     peak_wavelength = wavelength[np.argmax(intensity)]
#     plt.figure(figsize=(10, 6))
#     plt.plot(wavelength, intensity, label="Intensity", color="black")
#     plt.axvline(x=peak_wavelength, color='red', linestyle='--', alpha=0.7, label = f"Peak Intensity: {peak_wavelength} nm")
# #     print(type(unc))
#     for i, wl in enumerate(wl_exp):
#         if i in band:
#             wl_left = wl - unc.iloc[i] / 2
#             wl_right = wl + unc.iloc[i] / 2
        

#         # Shade uncertainty region in x-axis
#             plt.fill_betweenx(y=[min(intensity), max(intensity)], x1=wl_left, x2=wl_right, color="green", alpha=0.1)

#         # Plot expected wavelength center
#             plt.axvline(x=wl, color="blue", linestyle='--', alpha=0.7, label=f"Band {i+1}: {wl:.2f} nm Â± {unc.iloc[i]/2:.2f} nm")
#     plt.xlabel("Wavelength")
#     plt.ylabel("Intensity")
#     plt.title(f"Intensity vs Wavelength with Detected Peaks ({element})")
#     plt.legend()
#     plt.grid(True)
#     plt.show()
    
#     return peak_wavelength

In [15]:
# # Plot Spectral lines
# for E in Elements:
#     find_and_plot_peaks(bands[f"{E[0]}"], cleaned_elements[f"{E}"]["Wavelength"], cleaned_elements[f"{E}"]["Corrected_Intensity"], E, f_exp_by_elements[f"{E}"]["mean_lambda"], f_exp_by_elements[f"{E}"]["lambda_unc"])

## Retrieve Data from NIST

In [16]:
import requests
from bs4 import BeautifulSoup
import io
site = "https://physics.nist.gov/cgi-bin/ASD/lines1.pl?spectra={}" \
               "&limits_type=0&low_w={}" \
               "&upp_w={}" \
               "&unit=1&submit=Retrieve+Data&de=0&format=3&line_out=0&remove_js=on&en_unit=0&output=0&bibrefs=1&page_size=15&show_obs_wl=1&show_calc_wl=1&unc_out=1&order_out=0&max_low_enrg=&show_av=2&max_upp_enrg=&tsb_value=0&min_str=&A_out=1&intens_out=on&max_str=&allowed_out=1&forbid_out=1&min_accur=&min_intens=&conf_out=on&term_out=on&enrg_out=on&J_out=on"

In [17]:
# Load all Data
NIST_data = {}
for element in ["H", "He", "N", "Ne"]:
    site = site.format(element, 200, 900)
    respond = requests.get(site)
    soup = BeautifulSoup(respond.content, 'lxml')
    html_data = soup.get_text()
    html_data = html_data.replace('"', "")
    data = io.StringIO(html_data)
    NIST_data[f"{element}"] = pd.read_csv(data, sep="\t")

In [18]:
# Clean all data
def clean_intensity(value):
    if isinstance(value, str):  
        value = value.replace("(", "").replace(")", "")  # Remove parentheses
        value = ''.join(filter(str.isdigit, value))  # Keep only digits
    return pd.to_numeric(value, errors='coerce')  # Conver

for element in ["H", "He", "N", "Ne"]:
    NIST_data[f"{element}"] = NIST_data[f"{element}"].dropna(subset=['obs_wl_air(nm)'])
    NIST_data[f"{element}"].apply(clean_intensity)

In [19]:
# Find Theo
def find_theo(df_exp, df_theo):
    df_exp["theo_lambda"] = df_exp["mean_lambda"].apply(lambda x: df_theo.iloc[(df_theo["obs_wl_air(nm)"] - x).abs().argmin()]['obs_wl_air(nm)'])

small_Elements = ["H", "N", "He", "Ne"]
for i, element in enumerate(["Hydrogen", "Nitrogen", "Helium", "Neon"]):
    find_theo(f_exp_by_elements[f"{element}"], NIST_data[f"{small_Elements[i]}"])

/tmp/ipykernel_82442/3638173792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exp["theo_lambda"] = df_exp["mean_lambda"].apply(lambda x: df_theo.iloc[(df_theo["obs_wl_air(nm)"] - x).abs().argmin()]['obs_wl_air(nm)'])
/tmp/ipykernel_82442/3638173792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exp["theo_lambda"] = df_exp["mean_lambda"].apply(lambda x: df_theo.iloc[(df_theo["obs_wl_air(nm)"] - x).abs().argmin()]['obs_wl_air(nm)'])
/tmp/ipykernel_82442/3638173792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exp["theo_lambda"] = df_exp["mean_lambda"].apply(lambda x: df_theo.iloc[(df_theo["obs_wl_air(nm)"] - x).abs().argmin()]['obs_wl_air(nm)'])
/tmp/ipykernel_82442/3638173792.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_exp["theo_lambda"] = df_exp["mean_lambda"].apply(lambda x: df_theo.iloc[(df_theo["obs_wl_air(nm)"] - x).abs().argmin()]['obs_wl_air(nm)'])

In [20]:
f_exp_by_elements["Hydrogen"]

,Element,Spectral line Rank,theta_left,theta_right,d_theta,Order,lambda_left,lambda_right,lambda_unc,mean_lambda,theo_lambda
0,Hydrogen,1,3.000000,2.25,0.750000,1,523.359562,392.598158,130.895956,457.978860,434.047200
1,Hydrogen,2,2.916667,2.50,0.416667,1,508.834536,436.193874,72.721411,472.514205,486.128336
2,Hydrogen,3,3.916667,3.50,0.416667,1,683.055024,610.485395,72.721411,646.770210,656.270970

In [21]:
f_exp_by_elements["Nitrogen"]

,Element,Spectral line Rank,theta_left,theta_right,d_theta,Order,lambda_left,lambda_right,lambda_unc,mean_lambda,theo_lambda
15,Nitrogen,1,2.483333,3.083333,0.600000,1,433.287742,537.883482,104.717841,485.585612,486.128336
16,Nitrogen,2,2.716667,3.266667,0.550000,1,473.970140,569.832055,95.991635,521.901098,486.135000
17,Nitrogen,3,2.933333,3.466667,0.533333,1,511.739628,604.678380,93.082883,558.209004,486.135000
18,Nitrogen,4,3.016667,3.266667,0.250000,1,526.264436,569.832055,43.633093,548.048246,486.135000
19,Nitrogen,5,3.333333,3.816667,0.483333,1,581.448289,665.641463,84.356580,623.544876,656.270970
20,Nitrogen,6,3.450000,3.950000,0.500000,1,601.774795,688.859084,87.265355,645.316939,656.270970
21,Nitrogen,7,3.600000,4.183333,0.583333,1,627.905195,729.480870,101.809114,678.693033,656.285175
22,Nitrogen,8,3.816667,4.266667,0.450000,1,665.641463,743.985754,78.539009,704.813608,656.285175

In [22]:
f_exp_by_elements["Helium"]

,Element,Spectral line Rank,theta_left,theta_right,d_theta,Order,lambda_left,lambda_right,lambda_unc,mean_lambda,theo_lambda
6,Helium,1,2.883333,2.216667,0.666667,1,503.024223,386.784813,116.352658,444.904518,434.047200
7,Helium,2,2.950000,2.500000,0.450000,1,514.644678,436.193874,78.539009,475.419276,486.128336
8,Helium,3,3.000000,2.750000,0.250000,1,523.359562,479.781285,43.633093,501.570424,486.135000
9,Helium,4,3.166667,2.916667,0.250000,1,552.406263,508.834536,43.633093,530.620400,486.135000
10,Helium,5,3.366667,3.000000,0.366667,1,587.256112,523.359562,63.994969,555.307837,486.135000
11,Helium,6,3.500000,3.183333,0.316667,1,610.485395,555.310680,55.268478,582.898038,656.270970
12,Helium,7,3.650000,3.383333,0.266667,1,636.614381,590.159949,46.541945,613.387165,656.270970
13,Helium,8,3.850000,3.500000,0.350000,1,671.446211,610.485395,61.086144,640.965803,656.270970
14,Helium,9,4.000000,3.750000,0.250000,1,697.564737,654.031292,43.633093,675.798015,656.285175

In [23]:
f_exp_by_elements["Neon"]

,Element,Spectral line Rank,theta_left,theta_right,d_theta,Order,lambda_left,lambda_right,lambda_unc,mean_lambda,theo_lambda
23,Neon,1,2.666667,2.833333,0.166667,1,465.253122,494.308433,29.088780,479.780778,486.128336
24,Neon,2,2.833333,3.116667,0.283333,1,494.308433,543.692732,49.450794,519.000583,486.135000
25,Neon,3,3.100000,3.250000,0.150000,1,540.788130,566.927876,26.179909,553.858003,486.135000
26,Neon,4,3.216667,3.600000,0.383333,1,561.119373,627.905195,66.903789,594.512284,656.270970
27,Neon,5,3.416667,3.666667,0.250000,1,595.967473,639.517336,43.633093,617.742404,656.270970
28,Neon,6,3.583333,3.833333,0.250000,1,625.002027,668.543865,43.633093,646.772946,656.270970
29,Neon,7,3.666667,4.050000,0.383333,1,639.517336,706.269859,66.903789,672.893598,656.285175

In [24]:
# Find Error 
for elements in ["Hydrogen", "Nitrogen", "Helium", "Neon"]:
    f_exp_by_elements[f"{elements}"]["Error (%)"] = 100*np.abs(f_exp_by_elements[f"{elements}"]["mean_lambda"] - f_exp_by_elements[f"{elements}"]["theo_lambda"])/f_exp_by_elements[f"{elements}"]["theo_lambda"]

/tmp/ipykernel_82442/3360079972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_exp_by_elements[f"{elements}"]["Error (%)"] = 100*np.abs(f_exp_by_elements[f"{elements}"]["mean_lambda"] - f_exp_by_elements[f"{elements}"]["theo_lambda"])/f_exp_by_elements[f"{elements}"]["theo_lambda"]
/tmp/ipykernel_82442/3360079972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_exp_by_elements[f"{elements}"]["Error (%)"] = 100*np.abs(f_exp_by_elements[f"{elements}"]["mean_lambda"] - f_exp_by_elements[f"{elements}"]["theo_lambda"])/f_exp_by_elements[f"{elements}"]["theo_lambda"]
/tmp/ipykernel_82442/3360079972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_exp_by_elements[f"{elements}"]["Error (%)"] = 100*np.abs(f_exp_by_elements[f"{elements}"]["mean_lambda"] - f_exp_by_elements[f"{elements}"]["theo_lambda"])/f_exp_by_elements[f"{elements}"]["theo_lambda"]
/tmp/ipykernel_82442/3360079972.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  f_exp_by_elements[f"{elements}"]["Error (%)"] = 100*np.abs(f_exp_by_elements[f"{elements}"]["mean_lambda"] - f_exp_by_elements[f"{elements}"]["theo_lambda"])/f_exp_by_elements[f"{elements}"]["theo_lambda"]

In [25]:
bands = {}

In [26]:
f_exp_by_elements["Hydrogen"]
bands["Hydrogen"] = []

In [27]:
f_exp_by_elements["Nitrogen"]
bands["Nitrogen"] = [17, 18, 19 , 22]

In [28]:
f_exp_by_elements["Helium"]
bands["Helium"] = [9, 10, 11, 12]

In [29]:
f_exp_by_elements["Neon"]
bands["Neon"] = [25, 26, 27]

In [30]:
# Theoretical Number of Spectral Lines vs Experimental
for elements in Elements:
    print(f"{elements}")
    print(f" Theoretical {f_exp_by_elements[f"{elements}"]["theo_lambda"].nunique()}, Experimental {len(f_exp_by_elements[f"{elements}"]["Spectral line Rank"])}")

Hydrogen
 Theoretical 3, Experimental 3
Nitrogen
 Theoretical 4, Experimental 8
Helium
 Theoretical 5, Experimental 9
Neon
 Theoretical 4, Experimental 7

In [31]:
# Remove Spectral lines
for element in Elements:
    f_exp_by_elements[f"{element}"].drop(bands[element[0]])

KeyError: 'H'